.chat_body {
  flex: 1;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;
  margin-top: 20px;
}

.chat_message {
  position: relative;
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  border-radius: 10px;
  background-color: #a4cfd1;
  margin-bottom: 30px;
}

.chat_timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat_sender {
  margin-left: auto;
  background-color: #8aa4ca;
}

.chat {
  display: flex;
  flex-direction: column;
}

.chat_footer {
  position: fixed;
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #040528;
}

.chat_header {
  position: fixed;
  display: flex;
  /* margin-top: 0px; */
  left: 0px;
  right: 0px;
  height: 60px;
  /* top: 0px; */
  justify-content: space-between;
  background-color: #040528;
}

.chat_footer > form {
  flex: 1;
  display: flex;
}

.chat_footer > form > input {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  border: none;
  outline-width: 0;
}

.chat_footer > form > button {
  display: none;
}
